*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .4px;
}

.page-wrapper{
    display: flex;
    max-width: 1500px;
    
    justify-content: space-evenly;
    height:100vh;
    padding: 50px;
    flex-wrap: wrap;
}

.profile-pic{
    width: 200px;
    height: auto;
}

.side1, .side2{
    flex: 1;
}

.wrapper{
    margin-bottom: 15px;
}

h1{
    margin-bottom: 5px;
    font-size: 26px;
}

h2{
    font-size: 26px;
}

li{
    list-style: none;
}
p{
    line-height: 1.3em;
    font-size: 12px;
}
a{
    font-size: 12px;

}
@media(max-width:900px){
    .profile-pic{
        width: 100%;
    }
    .side1, .side2{
        flex: 1 1 100%;
    }
}