*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .4px;
}

.page-wrapper{
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    height:100vh;
    padding: 50px;
    flex-wrap: wrap;
    margin: auto;
}

.profile-pic{
    max-width: 100%;
    height: auto;
}

.side1 {
    flex: 1;
    padding-right: 10px;
    border-right-width: 1px;
}

.side2 {
    flex: 1;
    padding-left: 10px;
}

.wrapper{
    margin-bottom: 15px;
}

h1{
    margin-bottom: 5px;
    font-size: 30px;
}

h2{
    font-size: 30px;
}

li{
    list-style: none;
}

p{
    line-height: 1.1em;
    font-size: 18px;
}
a{
    font-size: 14px;

}
@media(max-width:900px){
    .profile-pic{
        width: 100%;
    }

}